---
import Layout from "@/layouts/Layout.astro";
import Gallery from "@/components/Gallery";
import Search from "@/components/Search.tsx";
import Logo from "@/components/Logo.astro";
---

<Layout title="ωεβ Τσφδ">
  <main
    class="container mx-auto px-0 md:px-4 xl:px-16 2xl:px-40 flex flex-col items-center"
  >
    <div class="absolute flex justify-center mt-4">
      <Logo class="size-28 text-white/5 -z-20" />
    </div>
    <h1 class="text-5xl text-balance text-center z-20 my-6 sm:my-10">
      Welcome to <span class="text-pink-700">ωεβ Τσφδ</span>
    </h1>
    <p class="text-pretty mt-0 sm:mt-4 px-2 sm:px-8 z-20 text-xl text-center">
      Web Tools is a comprehensive collection of web resources and tools curated
      to empower developers worldwide
    </p>
    <p class="hidden">
      . Explore an array of utilities, frameworks, APIs, and tutorials tailored
      to enhance your coding experience and streamline your development
      workflow. Whether you're a seasoned professional or just starting, find
      everything you need to bring your projects to life, right at your
      fingertips
    </p>
    <Search client:load />
    <Gallery client:load />
  </main>
</Layout>
